models/vit[[:space:]]model/model.safetensors filter=lfs diff=lfs merge=lfs -text
models/base_model_vanilla_cnn/model_vanillaCNN_animals.keras filter=lfs diff=lfs merge=lfs -text
models/convnext/model.keras filter=lfs diff=lfs merge=lfs -text
